* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(70, 199, 199);
    color: black;
    text-align: center;
    padding: 5px;
}

.content {
    width: 90%;
    padding: 20px;
    margin: 0 auto;
}

article {
    margin-bottom: 30px;
}

footer {
    background-color: rgb(70, 199, 199);
    color: black;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%
}